@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.main {
    padding: 60px 20px 20px 20px;
    position: relative;
    overflow: hidden;
    font-family: "Montserrat";
}

.borderBox {
    display: flex;
    border: 2px solid;
}

.waterMark {
    width: 1100px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.waterMarkText {
    display: block;
    font-size: 250px;
    font-family: "Arvo";
    pointer-events: none;
}

.headerBox {
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    padding: 0 15px;
}
.headerBox h1 {
    font-size: 6.25rem;
    line-height: 100%;
}
.headerBox button {
    padding: 10px 15px;
    margin: 10px 0;
}


.themeBox {
    position: absolute;
    z-index: 4;
    left: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
.themeBox span {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
}
.themeBox span:nth-child(1) {
    background-color: #023047;
}
.themeBox span:nth-child(2) {
    background-color: #010326;
}
.themeBox span:nth-child(3) {
    background-color: #fff;
}
@media only screen and (max-width: 500px) {
    .themeBox {
        width: 50px;
        top: 25%;
        left: 92%;
        padding: 10px 0;
        flex-direction: column;
    }
    .themeBox span {
        margin: 10px 0;
    }
}

.gobackBox {
    position: absolute;
    z-index: 4;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px;
    cursor: pointer;
}
.gobackBox i {
    font-size: 2.5rem;
}
@media only screen and (max-width: 500px) {
    .gobackBox {
        width: 60px;
        top: 25%;
        left: 22px;
        padding: 20px 0;
        transform: translate(-50%, -50%);
    }
}

.mainContent {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    z-index: 3;
}
.mainContent button {
    padding: 10px 15px;
    margin: 10px 0;
}

.contentLeft, .contentRight {
    width: 30%;
    text-align: center;
} 
.contentLeft p, .contentRight p {
    margin: 15px 0;
    font-weight: 500;

}
.mainImg {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(30px);
}
.contentLeft:not(:last-child) div,
.contentRight div {
    margin: 0 0 50px 0;
}
.contentLeft {
    padding-left: 50px;
}
.contentRight {
    padding-right: 50px;
}

@media only screen and (max-width: 1100px) {
    .mainContent {
        margin-top: 200px;
    }
    .mainImg {
        display: none;
    }
    .contentLeft, .contentRight {
        width: 45%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .borderBox {
        display: flex;
        flex-direction: column;
        padding-top: 1px;
    }
    .statisticsBox {
        display: none;
    }
    .socialMediaBox {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    .borderBox {
        height: auto;
    }
    .mainContent {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contentLeft, .contentRight {
        padding: 0;
        width: 70%;
    }

}