.bitteam0Conatiner {
  width: 80%;
  margin: 60px auto 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact button {
  padding: 10px 15px;
}
.member {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.member i {
  margin: 15px 0 40px 0;
  font-size: 2.5rem;
  color: var(--btn-color);
  cursor: pointer;
}
.member i:hover,
.member i:focus {
  color: #512aad;
}

@media only screen and (max-width: 750px) {
  .bitteam0Conatiner {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .bitteam0Conatiner {
    justify-content: center;
  }
}