.bitteam0Conatiner {
    width: 70%;
    margin: 60px auto 50px auto;
    columns: 2;
    overflow: hidden;
}


@media only screen and (max-width: 750px) {
  .bitteam0Conatiner {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1200px) {
  .bitteam0Conatiner {
    columns: 1;
  }
}