.bitteam0Conatiner {
  width: 80%;
  margin: 60px auto 70px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.member {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.contact button {
  padding: 10px 15px;
}

.contact i {
  font-size: 2.5rem;
  color: var(--btn-color);
  cursor: pointer;
}
.contact i:hover,
.contact i:focus {
  color: #512aad;
}

@media only screen and (max-width: 750px) {
  .bitteam0Conatiner {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .bitteam0Conatiner {
    justify-content: center;
  }
}