@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #010326;
  --waterMarkText-color: #060940;
  --accent-color: #0A0E59;
  --accent2-color: #311BBC;
  --btn-color: #733BF2;
  --font-family1: "Roboto Mono";
  --font-family2: "Rubik";
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family2);;
  max-width: 2000px;
  margin: 0 auto;
}

@media only screen and (max-width: 840px) {
  :root {
    font-size: 12px;
  }
}


h1 { font-size: 3.3rem; line-height: 140%; }
h2 { font-size: 2.441rem; line-height: 140%; }
h3 { font-size: 1.953rem; line-height: 140%; }
h4 { font-size: 1.563rem; line-height: 140%; }
h5 { font-size: 1.25rem; line-height: 140%; }
p { font-size: 1rem; line-height: 140%; }
label { font-size: 1rem; line-height: 140%; }
i {font-size: 1.25rem;}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

input, textarea {
  outline: none;
}

::placeholder {
  color: var(--btn-color);
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 14px 0;
  cursor: pointer;
  border: none;
  color: white;
  font-family: var(--font-family2);
  background-color: var(--btn-color);
}
@media only screen and (max-width: 840px) {
}
button:hover,
button:focus {
  background-color: #512aad;
}

.greenBorder {
  border: 1px solid #00FF19;
}
.greenColor {
  color: #00FF19;
}
.greenBg {
  background-color: #00FF19;
}

.redBorder {
  border: 1px solid #FF0000;
}
.redColor {
  color: #FF0000;
}

.blueBorder {
  border: 1px solid #000AFF;
}
.blueColor {
  color: #000AFF;
}

.ar {
  direction: rtl;
  font-family: "Tajawal";
}

.upButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 15px 18px;
  border-radius: 10px;
}

.upButton i {
  font-size: 1.5rem;
}

.navigationActive {
  font-weight: bold;
  transform: scale(1.05);
  border-bottom: 2px solid white;
}

.defaultMerrioBox {
  background: linear-gradient(143.41deg, rgba(115, 59, 242, 0.33) 22.86%, rgba(115, 59, 242, 0.16) 80.85%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

footer {
  width: 100%;
  height: 50px;
  background-color: var(--accent-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* teams page */
.themeActive {
  border: 2px solid black;
}

/* Ham animation */
.ham_Container {
  width: 36.5px;
  height: 34px;
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
@media only screen and (max-width: 650px) {
  .ham_Container {
    display: flex;
  }
}

.circle {
  width: 36.5px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.hide {
  position: absolute;
  z-index: 2;    
  width: 55px;
  height: 34px;
  background: var(--accent-color);
  transition: all 0.5s ease-in-out;
}

.ham_4 {
  width: 26px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 3;
}

.middleBar {
  width: 100%;
  height: 3.7px;
  position: relative;
  background: white;
  transition: all 0.5s ease-in-out;
}

.middleBar::before, .middleBar::after {
  content: "";
  width: 100%;
  height: 3.7px;
  left: 0;
  top: 0;
  position: absolute;
  background-color: white;
  transition: all 0.5s ease-in-out;
}
.middleBar::before {
  transform: translateY(-7px);
}
.middleBar::after {
  transform: translateY(7px);
}

/* start animation classes */
.ham_Container.back .middleBar {
  transform: translateX(-30.2px);
}

.ham_Container.setRotate .middleBar::before {
  transform: rotate(45deg) translate(21px, -21px);    
}

.ham_Container.setRotate .middleBar::after {
  transform: rotate(-45deg) translate(21px, 21px);    
}

.ham_Container.moveHide .hide {
  transform: translateX(56px);
} 