.hero {
  width: 100%;
  margin-top: 120px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}


.mainContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  color: white;
}

.mainContentForm {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.mainContentForm input {
  width: 100%;
  margin-bottom: 8px;
  font-size: 1rem;
  padding: 15px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.mainContentForm button {
  width: 100%;
  border-radius: 5px;
}

.mainContent h5 {
  width: 100%;
  font-weight: normal;
  margin: 20px 0px;
}

.mainContent a {
  width: max-content;
}




.statistics {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 190px;
  height: 203px;
  position: relative;
}

.merroirBox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: linear-gradient(143.41deg, rgba(115, 59, 242, 0.33) 22.86%, rgba(115, 59, 242, 0.16) 80.85%);
  border: 1px solid #060940;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.bgCircle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--btn-color);
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .hero {
    display: block;
    margin-top: 80px;
  }
  .statistics {
    width: 80%;
    margin: 0 auto;
  }
  .bgCircle {
    width: 65px;
    height: 65px;    
  }
  .box {
    width: 120px;
    height: 143px;
    position: relative;
    text-align: center;
  }
  .merroirBox {
    width: 100%;
    margin-top: 20px;
  }
  .mainContentForm {
    width: 80%;
    margin: 0 auto;
  }
  
  .mainContent {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .mainContent h4 {
    margin: 25px auto;
  }
  .mainContent a {
    margin: 0 auto;
  }
}
