.container {
  width: 100%;
  background: url("/whaterMarkGroup.png") fixed top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 1px;
}


.hero {
  width: 100%;
  margin-top: 120px;
  padding-bottom: 100px;
  display: flex;
  position: relative;
}


.mainContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  color: white;
}

.mainContentForm {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.mainContentForm input {
  width: 100%;
  margin-bottom: 8px;
  font-size: 1rem;
  padding: 15px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  box-shadow: inset 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.mainContentForm button {
  width: 100%;
  border-radius: 5px;
}

.mainContent h5 {
  width: 100%;
  font-weight: normal;
  margin: 20px 0px;
}

.mainContent a {
  width: max-content;
}




.statistics {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 190px;
  height: 203px;
  position: relative;
}

.merroirBox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: linear-gradient(143.41deg, rgba(115, 59, 242, 0.33) 22.86%, rgba(115, 59, 242, 0.16) 80.85%);
  border: 1px solid #060940;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.bgCircle {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--btn-color);
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .hero {
    display: block;
    margin-top: 80px;
  }
  .statistics {
    width: 80%;
    margin: 0 auto;
  }
  .bgCircle {
    width: 65px;
    height: 65px;    
  }
  .box {
    width: 100px;
    height: 143px;
    position: relative;
    text-align: center;
  }
  .merroirBox {
    width: 100%;
    margin-top: 20px;
  }
  .mainContentForm {
    width: 80%;
    margin: 0 auto;
  }
  
  .mainContent {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .mainContent h4 {
    margin: 25px auto;
  }
  .mainContent a {
    margin: 0 auto;
  }
}


/* ======================================== */


.merroirBoxMain {
  width: 700px;
  margin: 50px auto;
  padding: 25px 40px;
  background: linear-gradient(143.41deg, rgba(115, 59, 242, 0.33) 22.86%, rgba(115, 59, 242, 0.16) 80.85%);
  border: 1px solid #060940;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;  
  text-align: center;
}

.merroirBoxMain h5 {
  margin: 30px 0;
  font-family: var(--font-familyCormorant);
}

.merroirBoxMain button {
  padding: 20px 25px;
  border-radius: 5px;
}


@media only screen and (max-width: 700px) {
  .merroirBoxMain {
    width: 90%;
  }
}


.contacts {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

@media only screen and (max-width: 580px) {
  .contacts {
      width: 80%;
    justify-content: center;
  }
}

.socialMedia {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;  
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsTypes {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 0px auto;
}

.type1 {
  position: relative;
  display: flex;
  color: white;
  align-items: center;
}

.merroirBoxProject {
  width: 25px;
  height: 25px;
  background: linear-gradient(143.41deg, rgba(115, 59, 242, 0.33) 22.86%, rgba(115, 59, 242, 0.16) 80.85%);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
  position: block;
  border-radius: 5px;
}



.projectsTypes .merroirBoxProject:nth-child(3) {
  border: 1px solid ;
}

.projectsTypes p {
  margin-left: 10px;
}


.projectsContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto 50px auto;
}

@media only screen and (max-width: 750px) {
  .projectsContainer {
    width: 90%;
  }
}
@media only screen and (max-width: 580px) {
  .projectsContainer {
    justify-content: center;
  }
}

.projectsContainer .merroirBoxProject {
  width: 255px;
  height: auto;
  padding: 20px;
  text-align: center;
  color: white;
  margin: 10px 0;
}

.projectsContainer .merroirBoxProject p {
  margin: 20px 0 0 0;
  font-family: var(--font-familyCormorant);
}

.showMoreBtn {
  width: max-content;
  padding: 15px 20px;
  border-radius: 5px;
}



.customersContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin: 100px auto 30px auto;
  width: 85%;
  padding: 50px 0;
}

.slider {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.slider .box {
  width: 370px;
  margin-right: 20px;
  position: relative;
}



.slider .box .merroirBox {
  padding: 1.875rem 1.25rem 1.25rem 1.25rem;
}

.customersImg {
  width: 70px;
  height: 70px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 0%;
  z-index: 6;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .slider .box .merroirBox {
    margin-top: 0;
    text-align: center;
    padding: 0 50px;
  }
}

.slider .box .bgCircle {
  width: 320px;
  border-radius: 0;
}


.btnGroup {
  width: 200px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnGroup button {
  padding: 15px 20px;
  border-radius: 10px;
}