.projectsTypes {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto 0px auto;
}

.type {
  position: relative;
  display: flex;
  color: white;
  align-items: center;
}

.smallBox {
  width: 12px;
  height: 12px;
}

.projectsTypes p {
  margin-left: 10px;
}


.projectsContainer {
  width: 70%;
  margin: 100px auto 50px auto;
  columns: 3;
  overflow: hidden;
}

@media only screen and (max-width: 750px) {
  .projectsContainer {
    width: 90%;
  }
}
@media only screen and (max-width: 1200px) {
  .projectsContainer {
    columns: 2;
  }
  .type {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 860px) {
  .projectsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.projectsContainer .box {
  width: 300px;
  padding: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  break-inside: avoid;
  background: linear-gradient(143.41deg, rgba(115, 59, 242, 0.33) 22.86%, rgba(115, 59, 242, 0.16) 80.85%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  text-align: center;
  color: white;
}

.projectsContainer .box p {
  margin: 20px 0 ;
  font-weight: 300;
  font-family: var(--font-family1);
}

.projectBtn {
  width: max-content;
  padding: 15px 20px;
  border-radius: 5px;
}

.showMoreBtn {
  width: max-content;
  padding: 15px 20px;
  border-radius: 5px;
}
